body {
  background: #02AAB0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Pattaya", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
header,
form {
  width: 40%;
  margin: 20px auto;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  font-family: "Pattaya", sans-serif;
}
form button {
  color: orange;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  color: white;
  background: orange;
}

.todo-container {
  width: 50%;
  margin: 20px auto;
}

.todo-list {
  list-style: none;
  width: 100%;
  margin: 10px auto;
  padding: 0;
}

.todo-list .todo {
  margin: .8rem auto;
  background: white;
  display: flex;
  border-radius: 0.5rem;
  justify-content: space-between;
}

.todo-list .todo .todo-item 
{
  word-break: break-all;
  padding: .5rem;
  flex: 6;
}
.todo-list .todo .buttonDiv{
  padding: 0;
  display: flex;
  flex: 1;
}

.todo-list .todo .buttonDiv .complete-button,
.todo-list .todo .buttonDiv .delete-button
{
    margin: 0;  
    width: 50%;
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    height: 100%;
}
.delete-button
{
    color: white;
    background-color: rgb(236, 154, 1);
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius:0.5rem ;
}
.delete-button:hover
{
    background: rgb(156, 2, 2);
}
.complete-button
{
    color: white;
    background-color: rgb(236, 154, 1);
}
.complete-button:hover
{
    background: green;
}

.fa-trash,.fa-check
{
  pointer-events: none;
}

.completed
{
  text-decoration: line-through;
  opacity: 0.5;
}

/* input[type="text"]
{
    font-family: "Pattaya", sans-serif;
} */